 *{
    /* border:1px solid red; */
    font-family: Helvetica;
}
/*
body{
    background-color: aquamarine;
} */

.grid-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    /* padding: 5px; */
}
.grid-item{
    /* border:2px solid black; */
    background-color: white;
    /* flex box properties below */
    display: flex;
    /* align-items: center; */
}

.header {
    grid-column: 1 / 11;
    grid-row: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
#logo{
    width: 15%;
    margin-bottom: 1em;
    margin-left: 5%;
}
.header button{
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-size: 90%;
}

#grey-text{
    color: grey;
}


.focus_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15%;
}

.white_blue{
    background-color: white;
    border:2px solid #0850F8;
    color: #0850F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;

}
.focus_buttons p{
    margin-top: 100px;
    align-self:flex-end;
}


#try_it{
    background-color: #0850F8;
    border:2px solid #0850F8;
    color: white;
    margin-right: 2%;
    margin-left: 2%;
}

#sign_in{
    margin-left: 5%;
    margin-right: -4%;
}

.two {
    grid-column: 7 / 11;
    grid-row: 2 / 4 ;
}

.two img{
    width: 105%;
}

.three {
    grid-column: 2 / 6;
    grid-row: 2 /4 ;
    flex-direction: column;
    padding-top: 20%;
}
.three h1{
    margin: 0px;
    font-size: 275%
}
.three h2{
    margin-top: 3%;
    margin-bottom: 3%; 
}
.three p{
    margin-top: 1%;
    font-size: 14px;

}
/* .three_a {
    grid-column: 2/6;
    grid-row:  3;
    flex-direction: column;
    align-items: flex-start;
} */

/* .three_a sub cat changes below this*/

.three button{
    height: 50px;
    width: 175px;
    border-radius: 10px;
    font-size: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: bold;
}
.three ul{
    font-size: xx-small;
    margin-top: 0px;
    margin: 0;
    padding: 0;
    list-style-type: square;
    color: #0850F8;
    margin-left: -2%;
    
}
.three li{
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
    color: black;
    
}
/* .three_a sub cat changes above this*/

.four{
    grid-column: 4 / 9;
    grid-row: 4;
    border-top:1px solid lightgrey;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: -50%
}
.four p{
    text-align: center;
    font-size: small;
}

.five {
    grid-column: 3 / 10;
    grid-row: 6;
    justify-content: space-between;
    align-items: flex-end;
    
}
.five div{
    height: 90px;
    width: 90px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid grey;

}
.five p{
    align-self: center;
    margin-top: 0px;
    font-size: 12px;
    
}
#explore-icons{
    width: 55%;
    align-self: center;
    margin-top: 30%;

}


.blue{
    background-color: #0850F8;
    border-color: #0850F8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.blue img{
    align-self: center;
    margin-left: 10%;
}
.blue p{
    align-self: center;
    margin-top: 8%;
}





.six {
    grid-column: 2/5;
    grid-row: 8 / 11;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-color: lightgrey;
    border-left-color: lightgrey;
    border-bottom-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    border-right-width: 0px;

    justify-content: flex-end;
    /* border: 2px solid grey; */
} 
.six img{
    height: 50%;
    width: 90%;
    align-self: center;
    padding-right: 2%;
}

.six_a {
    grid-column: 5/11;
    grid-row: 8 / 11;
    flex-direction: column;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 10%;
}
.six_a h3{
    padding: 0px 0px;
}
.six_a h5{
    margin: 0px 0px; 
}
.six_a ul{
    font-size: 7px;
    list-style-type: '-';
    list-style-position: inside;
    padding-left: 0px;

}
.blue_learn{
    background-color: #0850F8;
    border:1px solid white;
    color:white;
    border-radius: 3px;
    margin-top: 3%;
    margin-right: 65%;
    height: 25px;
    font-size: x-small;
    display: flex;
    justify-content: end;
}

.blue_learn img{
    height:90%;
    align-self: center;
    margin-left: 20%;
}

.blue_learn p{
    align-self: center;
    
}



.seven {
    grid-column: 4 / 9;
    grid-row: 11;
    justify-content: center;
    align-content: flex-end;
}
.seven h3{
    padding-bottom: 2%;
    align-self: flex-end;
    margin-bottom: 0px;
}

#ellipse{
    align-self: center;
    height: 60%;
}
#icon{
    /* height:5%; */
    width: 7%;
    position: absolute;
    align-self: center;
}

.eight{
    grid-column: 4 / 6;
    grid-row: 12;
    justify-content: center;
    align-content: flex-start;
}

.eight_a{
    grid-column: 4/6;
    grid-row: 13;
    flex-direction: column;
    text-align: center;
}
.icon-title{
    margin: 0px;
}
.icon-text{
    font-size: 9px;
    margin: 4%;
}
.learn_buttons{
    
}
.learn_more{
    display: flex;
    /* flex-direction: row; */
    justify-content: end;
    align-content: center;

    background-color: white;
    border:1px solid black;
    width: 55%;
    height: 25%;
    margin-top: 2%;
    align-self: center;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
}
.learn_more img{
    height: 80%;
    margin-right: -4%;
    align-self: center;
    margin-left: 10%;
}
.learn_more p{
    align-self: center;
}

.nine {
    grid-column: 7 / 9;
    grid-row: 12;
    justify-content: center;
}

.nine_a{
    grid-column: 7/9;
    grid-row: 13;
    flex-direction: column;
    text-align: center;
}

.ten {
    grid-column: 4 / 6;
    grid-row: 14 / 16;
    justify-content: center;
}

.ten_a{
    grid-column: 7/9;
    grid-row: 16;
    flex-direction: column;
    text-align: center;
}

.eleven{
    grid-column: 7 / 9;
    grid-row: 14 / 16;
    justify-content: center;
}
.eleven_a{
    grid-column: 4/6;
    grid-row: 16;
    flex-direction: column;
    text-align: center;
}

.footer{
    grid-column: 1 / 12;
    grid-row: 18 / 20;
    margin: 0px;
    background-color: #0850F8;
    justify-content: center;
}

.twelve{
    grid-column: 4/9;
    grid-row: 18;
    flex-direction: column;
    text-align: center;
    padding-top: 3%;
    background-color: #0850F8;
    color: white;
    
}

.twelve h1{
    margin-bottom: 0px;
}
.twelve p{
    margin-top: 0px;
    font-size: 12px;
    
}

.footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.get_started{
    height: 25px;
    width: 25%;
    border-radius: 5px;
    font-size: 10px;
    background-color: #7FD126;
    border-width: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1%;
}

.get_started img{
    width: 20%;
    margin-left: 5%;
    margin-top: -2%;
}

.chat_with_us{
    height: 25px;
    width: 25%;
    /* margin-left: 10%; */
    border-radius: 5px;
    
    background-color: white;
    border-width: 0px;
    color: #0850F8;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 3%;
}
.chat_with_us img{
    margin-top: -2%;
    width: 20%;
    margin-right: 5%;
}
.chat_with_us p{
    font-size: 10px;
    align-self: flex-start;
}

.twelve ul{
    font-size: xx-small;
    /* margin-left: 0px; */
    margin: 0;
    padding: 0;
    list-style-type: square;
    padding-top: 5%;
}
.twelve li{
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
}