*{
    border:1px solid red;
}

body{
    background-color: aquamarine;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    /* padding: 5px; */
}
.grid-item{
    /* border:2px solid black; */
    background-color: white;
    /* flex box properties below */
    display: flex;
    /* align-items: center; */
}

.header {
    grid-column: 2 / 11;
    grid-row: 1;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: black;    
}
.header button{
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-size: 90%;
}

.sign_in{
    background-color: white;
    border:2px solid #0850F8;
    color: #0850F8;
}

.try_it{
    background-color: #0850F8;
    border:2px sloid #0850F8;
    color: white;
}

.two {
    grid-column: 7 / 11;
    grid-row: 2 / 4 ;
}

.two img{
    width: 100%;
    height: 100%;
}

.three {
    grid-column: 2 / 6;
    grid-row: 2 ;
    flex-direction: column;
    padding-top: 15%;
}
.three h1{
    margin: 0px;
    font-size: 275%
}
.three h2{
    margin-top: 3%;
    margin-bottom: 3%;
}
.three p{
    margin: 0px;
}

.three_a {
    grid-column: 2/6;
    grid-row:  3;
    flex-direction: column;
    align-items: flex-start;
}
.three_a button{
    height: 50px;
    width: 175px;
    border-radius: 10px;
    font-size: 90%;
}

.three_a ul{
    font-size: xx-small;
    /* margin-left: 0px; */
    margin: 0;
    padding: 0;
    list-style-type: square;
}
.three_a li{
    display: inline;
    padding-right: 30px;;
}

.four {
    grid-column: 4 / 9;
    grid-row: 5;
}

.five {
    grid-column: 3 / 10;
    grid-row: 6;
}

.six {
    grid-column: 2 /11;
    grid-row: 8 / 10;
}

.seven {
    grid-column: 5 / 8;
    grid-row: 11;
}

.eight {
    grid-column: 4 / 6;
    grid-row: 12 / 14;
}

.nine {
    grid-column: 7 / 9;
    grid-row: 12 / 14;
}

.ten {
    grid-column: 4 / 6;
    grid-row: 14 / 16;
}

.eleven {
    grid-column: 7 / 9;
    grid-row: 14 / 16;
}




.footer {
    grid-column: 1 / 12;
    grid-row: 17 / 20;
    margin: 0px
}