.flexbox-container {
    height: 1000px;
    display: flex;
    flex-direction:column;
    justify-content: center;  
}

.flexbox-item-1 {
    min-height: 100px;
    border: none;
}

.flexbox-item-2 {
    min-height: 100px;
    width: 400px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid #333;
}

.flexbox-item-3 {
    min-height: 100px;
    width: 400px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid #333;
}
.flexbox-item-4 {
    min-height: 100px;
    width: 400px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid #333;
}

.flexbox-item-5 {
    min-height: 100px;
    border: none;
}

.flexbox-item-6 {
    min-height: 100px;
    border: none;
}
.flexbox-item-7 {
    min-height: 100px;
}

.flexbox-item-8 {
    min-height: 100px;
}
