body{
    margin:0;
    background-color: white;
    font-family: sans-serif;
    font-weight: 250px;
}

.flexbox-container{
    height: 720px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: column;
} 
    /* top left section  */

.flexbox-item-1{
    background-color: blue;
    height: 720px;
    width: 945px;
    border-radius: 0 0 95% 0;
    text-align: center;
    color:white;
    font-size: x-large;
}
    /* rocket img */

.flexbox-item-2{
    height: 709px;
    width: 550px;
    margin-left: 35px;
    text-align: center;

    /* Sign in */
}
.flexbox-container2{
    width: 680px;
    height: 380px;
    margin-top: 60px;
    margin-left: 85px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex; 
}
h1{
    width: 740px;
    margin-top: 50px;
    font-size: 50px;
}
    /* Sign up button  */

.signup{
    background-color: blue;
    color: white;
    border:2px solid white;
    margin-bottom: 3%;
    border-radius: 75px 75px;
    width: 200px;
}

    .flexbox-item-3{
    border: 1px solid black;
    height: 50px;
    width: 350px;
    margin: 30px;
    border-radius: 75px 75px;
}
.flexbox-item-4{
    border: 1px solid black;
    height: 50px;
    width: 350px;
    margin: 30px;
    border-radius: 75px 75px;
}
.flexbox-item-5{
    border: 1px solid black;
    height: 50px;
    width: 350px;
    margin:30px;
    border-radius: 75px 75px;
}
    /* rocket image */
.rocket{
    width: 49%;
    margin-bottom: 10%;
}
.account{
    margin-right: 40%;
}

.signin{
    background-color: blue;
    color: white;
    margin-bottom: 5%;
    border-radius: 75px 75px;
    width: 20%;
}

.flexbox-container3{
    width:780px;
    height:80px;
    margin-left: 35px;
    display: flex;
    justify-content: center; 
}
.flexbox-circle-1{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    margin:10px 20px 10px 20px;
    border-radius: 100%;
}
.flexbox-circle-2{
    border: 1px solid black;
    height:60px ;
    width: 60px;
    margin:10px 20px 10px 20px;
    border-radius: 100%;
}
.flexbox-circle-3{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    margin:10px 20px 10px 20px;
    border-radius: 100%;
}
.flexbox-circle-4{
    border: 1px solid black;
    height:60px ;
    width: 60px;
    margin:10px 20px 10px 20px;
    border-radius: 100%;
}

    /* sign in icons */

#username{
    margin: 2%;
    width:75%;
}
.usernameimg{
    width:9%;

}
.sign-up-button{
    color: white;
    background-color: #0850F8;
    border-radius: 75px;
    margin-bottom: 40px;
    height: 40px;
    width: 200px;
    justify-content: end;
}
    /* start of icon circles */
.circle1{
    width:40%;
    margin:10%;
}
.circle2{
    width: 70%;
    margin:20%
}
.circle3{
    width: 80%;
    margin-top:10%;
}
.circle4{
    width:50%;
    margin:10%;
    margin-top: 20%;
}
